
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
head{
    background-color: rgb(4, 4, 44);
    color: white;
}
body{
    background-color: rgb(4, 4, 44);
    color: white;
}

a.button:visited{
    color:inherit;
   }
   
.wrapper{
    margin-left: 5vw;
    margin-top: 2vw;

}

/* sidenav */


.sidenav h1{
margin-top: 2vw;
}


.wrapper .sidenav{
    display: flex;
    flex-direction: column;
    align-items:center;

    margin-left: 0px;
    position: fixed;

    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    border-right: solid;
        border-right-color: white;

}

.wrapper .sidenav ul{
    width: 100%;
    margin-top: 2vw;
    list-style: none;
    text-align: center;
}



.wrapper .content{
    width: 30vw;
    margin-left: 20vw;
    text-align: justify;
}